.navWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 40px;
}
.navWrapper a {
  text-decoration: none;
  color: black;
}
/* .navLinks {
  text-decoration: none;
  color: black;
} */
.navWrapper a:hover {
  background-color: blue;
}
